html{
   --bg-color:#736F4E;
   --font-color:#3B3923;
   --hg-color:#B4C292;
   --coff-color:#D17A22;
   --vino-color:#4C061D;
}

body{
   background-color: var(--bg-color);
   color: var(--hg-color);
   width: 100%;
   height: auto;
}

.card {
  width: auto;
  border: 20px;
  padding: 20px;
  padding-top: 0px;
  margin-top: -50px;
  height: auto;
}

.imagen-carrusel {
  width: 100%;
  max-width: 100%;
  max-height: 300px; 
  object-fit: contain;
  object-position: top;
  display: block;
}
    
div.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
 .fluid-container{
    background-color:var(--hg-color);
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  nav.navbar.navbar-expand-lg {
     background-color: var(--hg-color);
     font-family: "Oxygen", sans-serif;
     
  }
  .navbar-brand{
    font-family:"Crimson Text", serif;
    font-size: 30px;
    margin-left: 30px;
    color: #3B3923;
  }
  .color-login{
    color:#3B3923;;
  }
 h1{
   font-family: "Oxygen", sans-serif;
 }
 p{
   font-family: "Raleway", sans-serif;
 }

 .container#proyecto{
   justify-content:flex-end;
   margin-top: 20px;
   font-family: "Raleway", sans-serif;;
   padding: 40px;
 }

 #carouselCafetlan{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.row {
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.h-100 {
  background-color: var(--bg-color);
}

a.btn {
  z-index: 9999;
  position: relative;
}
.btn-primary{
  background-color: var(--vino-color);
  border-color: var(--vino-color);

}
.btn-primary:hover {
  background-color: var(--hg-color);
  border-color: var(--hg-color);

}

footer{
  background-color: #3B3923;
  color: #B4C292;
  
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

#tituloFooter{
  font-family: "Crimson Text", serif;
  display: flex;
  align-items: center;
}

.responsive {
  height: auto;
  width: 100%;
}

.container {
  width: auto;
  border: 0px;
}

#footerDos {
  display: flex;
  justify-content: space-between; 
  padding: 10px;
  gap: 60px; 
  font-family: 'Oxygen';
  font-style: normal;
  font-size: 20px;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer h5 {
  font-size: 14px;
  margin-bottom: 10px; 
  font-weight: normal;
  cursor: pointer;
}



/* Apartado de contacto */

#contacto{
  margin-top: 100px;
}

#labelContacto{
  font-family: "Oxygen", sans-serif;
}
#email{
  font-family: "Raleway", sans-serif;
}

/* FIn del apartado de contacto */
/*Productos*/
#list-items {
  justify-content: center;
  color: var(--font-color);
}
#list-items.card-title{
  font-family: "Oxygen", sans-serif;

}
.card-title{
  font-family: "Oxygen", sans-serif;
  color: #131312;

}
.card-subtitle{
  font-family: "Oxygen", sans-serif;
  color:#B4C292;

}
.card-text{
  font-family: "Raleway", sans-serif;
  color: #131312;
}
.btn-primary2{
  background-color: var(--vino-color);
  border-color: var(--vino-color);
  color: beige;

  
}
.btn-primary2:hover {
  background-color: var(--coff-color);
  border-color: var(--coff-color);
  color: beige;

}